
body{
	color: white;
	font-family: Roboto,Arial,sans-serif;
}

.grid-container { display: grid;grid-template-columns: auto auto; padding:  10px;}

.grid-container div { padding: 5px; text-align: left;}

.flex-container h1{justify-content: center; align-items: center; text-align: center;position: relative; height: 250px; background-image: url(banner.jpg); display: flex; background-size: cover;}

#personal, #contactInformation, #feedbackinfo {background-color: rgb(214, 234, 248);}

legend { background-color:  #1c87c9; padding : 10px;}

label {color: black;}

input,textarea { padding:5px; width: 100%; border-radius: 8px; }

input:focus, textarea:focus{border-style:solid; border-width:2px; border-color:#43D1AF;}

input[type="submit"],input[type="reset"] {background-color: #1abc9c; color: white; font-size: 16px; width: 150px; border-radius: 5px;border:none;}

